<%- include('../partials/header') %>
    <h2><%=title%></h2>
  	<p><img class="pic" src="images/recipe.jpg" /></p>
    <p>Using Express.js and EJSBuild to create a Node.js website.</p>
    <p>Sharing some of everyone's favorite comfort desserts</p>
    <p>Enjoy!</p>
 <%- include('../partials/footer') %>   