<%- include('../partials/header') %>
    <h2><%=title%></h2>
  	<p><img class="pic" src="images/tiramisu.jpg" /></p>
    <h3>Ingredients</h3>
    <p>
      <ul>
        <li>6 egg yolks</li>
        <li>3 tablespoons sugar</li>
        <li>1 pound mascarpone cheese</li>
        <li>1 1/2 cups strong espresso, cooled</li>
        <li>2 teaspoons dark rum</li>
        <li>24 packaged ladyfingers</li>
        <li>1/2 cup bittersweet chocolate shavings, for garnish</li>
      </ul>
    </p>
    <h3>Directions</h3>
    <p>In a large bowl, using an electric mixer with whisk attachment, beat egg yolks and sugar until thick and pale, about 5 minutes. Add mascarpone cheese and beat until smooth. Add 1 tablespoon of espresso and mix until thoroughly combined.</p>
    <p>In a small shallow dish, add remaining espresso and rum. Dip each ladyfinger into espresso for only 5 seconds. Letting the ladyfingers soak too long will cause them to fall apart. Place the soaked ladyfinger on the bottom of a 13 by 9 inch baking dish, breaking them in half if necessary in order to fit the bottom.</p>
    <p>Spread evenly 1/2 of the mascarpone mixture over the ladyfingers. Arrange another layer of soaked ladyfingers and top with remaining mascarpone mixture.</p>
  <p>Cover tiramisu with plastic wrap and refrigerate for at least 2 hours, up to 8 hours.</p>
  <p>Before serving, sprinkle with chocolate shavings.</p>
 <%- include('../partials/footer') %>   